<div class="top-bar">
    <img src="img/logo.svg" class="logo" alt="">
    <NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
        <img src="img/pizza-slice.svg" alt="">
        <div>Get Pizza</div>
    </NavLink>
    <NavLink href="myorders" class="nav-tab">
        <img src="img/bike.svg" alt="">
        <div>My Orders</div>
    </NavLink>
    <LoginDisplay />
</div>