@page "/myorders"
@inject HttpClient HttpClient
@attribute [Authorize]

<div class="main">
    @if (orders is null)
    {
        <text>Loading...</text>
    }
    else if (!orders.Any())
    {
        <h2>No orders placed</h2>
        <a class="btn btn-success" href="">Order some pizza</a>
    }
    else
    {
        <div class="list-group orders-list">
            @foreach (var order in orders)
            {
                <DisplayOrder Order="@order" />
            }
        </div>
    }
</div>

@code
{

    List<OrderWithStatus> orders;

    protected override async Task OnParametersSetAsync()
    {
        orders = await HttpClient.GetJsonAsync<List<OrderWithStatus>>("orders");
    }

}